<% layout("layouts/boilerplate") %>

<style>
  #filters {
    display: flex;
    flex-wrap: wrap;
  }
  .filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
  }
  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }

  .filter p {
    font-size: 0.8rem;
  }
</style>

<div id="filters">
   <div class="filter">
    <div><i class="fa-solid fa-fire"></i></div>
    <p>Trending</p>
   </div>
   <div class="filter">
    <div><i class="fa-solid fa-bed"></i></div>
    <p>Rooms</p>
   </div>
    <div class="filter">
    <div><i class="fa-solid fa-city"></i></div>
    <p>Iconic cities</p>
   </div>
   <div class="filter">
    <div><i class="fa-solid fa-mountain-sun"></i></div>
    <p>Mountains</p>
   </div>
      <div class="filter">
    <div><i class="fa-solid fa-chess-rook"></i></div>
    <p>Castles</p>
   </div>
   <div class="filter">
    <div><i class="fa-solid fa-snowflake"></i></i></div>
    <p>Arctic</p>
   </div>
    <div class="filter">
    <div><i class="fa-solid fa-campground"></i></div>
    <p>Camping</p>
   </div>
   <div class="filter">
    <div><i class="fa-solid fa-cow"></i></div>
    <p>Farms</p>
   </div>
   <div class="filter">
    <div><i class="fa-solid fa-tractor"></i></div>
    <p>Farms</p>
   </div>
</div>

 <div class="tax-toggle">
  <div class="form-check-reverse form-switch">
  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
  <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
</div>
 </div>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
  <% for(let listing of allListings) { %>
    <div class="card col listing-card">
      <a href="/listings/<%= listing._id %>" class="listing-link">
        <img src="<%= listing.image.url ? listing.image.url : 'https://via.placeholder.com/300' %>" 
             class="card-img-top" alt="listing_image" style="height: 20rem"
             onerror="this.onerror=null; this.src='https:via.placeholder.com/300';"/>
      </a>
      <div class="card-body">
        <p class="card-text">
          <b><%= listing.title %><br></b>
          <%= listing.price.toLocaleString("en-IN") %> / night
        </p>
      </div>
    </div>
  <% } %>
</div>


<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click", () =>{
    console.log("clicked")
  })
</script>